body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: open sans, sans serif;
}
#content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
h1 {
	  color: #fff;
  font-weight: 100;
  font-size: 2.5em;
  color: #fff;
    margin-top: .5ex;
  margin-bottom: 0;
}
h2 {
	  color: #fff;
  font-size: 1em;
  font-weight: 300;
    margin-top: .2ex;
}
header {
  width: 100%;
  background-size: cover;
}

header > div {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  min-height: 150px;
  margin: 0 auto;
  color: white;
  font-size: 2em;
}
.circular{
  display: inline-block;
  float: left;
  margin: 30px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  border-radius: 50%;
}
.info {
	
}

/* For the "inset" look only */
html {
  overflow: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(61,193,255,0.8);
  max-width: 12px;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(61,193,255,0.4);
}
