/*
 teal: (15, 57, 74)
 lime: (94, 199, 7)
 navy: (13, 54, 111)
 light-blue: (2, 103, 243);
 orange: (236, 63, 18)
 ***current- new-navy-teal: (10, 92, 138)
 new-navy-teal-bright: (10, 100, 150)
 * */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}
img {
    border: 0;
    max-width: 100%
}
[hidden] {
    display: none
}
html {
    background: #fff;
    color: #000;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    
    -webkit-overflow-scrolling: touch;
}
a:active,
a:hover {
    outline: 0
}
h1 {
    font-size: 2em
}
b,
strong {
    font-weight: 700
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
small {
    font-size: 80%
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 0
}
body {
    background-color: #F8FCFD;
    font-family: Roboto, sans-serif
}
.main.clearfix {
    margin-bottom: 3em;
    margin-top: 3em;
}
a:link {
    color: rgb(10, 92, 138);
    text-decoration: none;
    font-weight: 400
}
a:visited {
    color: rgb(10, 92, 138);
}
a:active,
a:focus,
a:hover {
    color: rgb(2, 103, 243);
}
aside a:active,
aside a:focus,
aside a:hover {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .8);
}
aside a strong {
    font-weight: 400
}
aside a:link,
aside a:visited {
    color: #fff;
    font-weight: 100
}
aside a:focus,
aside a:hover {
    /*color: #151D29;*/
}

.wrapper {
    width: 90%;
    /*max-width: 960px;*/
    /*width: 960px;*/
    
    margin: 0 5%;
}
.header-container,
.main {
    color: #151D29;
    max-width: 960px;
    margin: 0 auto;
}
.title {
    font-weight: 300;
    font-size: 42px
}
.subtitle {
    margin: 0;
}
.main {
    padding: 0
}
.main h1,
.main h2,
.main h3 {
    font-weight: 300
}
.main p {
    font-weight: 400;
}
.main article h1 {
    font-size: 2em
}
.print_only {
    display: none
}
.list section h3 {
    font-size: 13pt;
    font-weight: 400;
}
.list.no-desc p {
    font-size: 1.12em;
    margin-top: 2.25em;
}
h1 {
    margin: .37em 0
}
.list time {
    float: right;
    margin-top: .7em;
}
.list section {
    padding-bottom: 0em;
    font-size: small;
    margin-left: 1em
}
.list p {
    margin-top: 0;
    margin-bottom: .3em;
    clear: left
}
.list h3 {
    float: left;
    margin-bottom: 0;
    margin-top: .3em
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 57%
    }
}
@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 960px;
        margin: 0 auto
    }
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%
}
.hidden {
    display: none!important;
    visibility: hidden
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}
.invisible {
    visibility: hidden
}
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden
}

.it figure[role=site] {
    display: none
}
figure[role=loader] {
    padding: 0 3em;
    overflow: visible;
    position: absolute;
    top: 20%;
    width: 100%
}
.it div,
.it header {
    opacity: 1.0
}
.myresume div,
.myresume header {
    opacity: 1
}
body,
html {}.no-js body,
html.no-js {
    overflow: auto
}
.no-js div,
.no-js header {
    opacity: 1
}
.skrollable {
    position: fixed;
    z-index: 100
}
.skrollable .skrollable,
.skrollr-mobile .skrollable {
    position: absolute
}
.skrollable .skrollable .skrollable {
    position: static
}
header .title {
    font-size: 22pt;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 1em 0 0 0;
    letter-spacing: .05em;
}
header .subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .05em;
    font-size: 12pt;
    margin-bottom: 1em;
}
.header-container header {
    border-bottom: 1px solid gray;
}
abbr[title]:after {
    content: " (" attr(title)")"
}
.main-container {
    width: 100%;
    min-width: 400px;
    max-width: 960px;
    margin: 4em auto;
}
.left-container {
    width: 25%;
    margin: -2em 0em 0 42px;
    float: left;
}
.left-container .list section {
    -webkit-transform: translate(0px, -8px);
}
.left-container>div>aside section p {
    margin: 0;
    padding: 0
}
.left-container>div>aside a {
    margin: 0;
}
.left-container>div>aside p:before {
    content: ''
}
.side-label-container {
    height: 0;
    background-color: rgb(10, 92, 138);
    width: 80%;
    -webkit-transform: translate(-72px, 55px);
    margin-bottom: 1em;
}
.rotated-sidebar {
    -webkit-print-color-adjust: exact;
    height: 12em;
    width: 0;
    padding: 0;
    margin: 0;
    border-left: 3px solid rgb(10, 92, 138);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    white-space: nowrap;
    -webkit-transform: rotate(-90deg) translate(44px, 26px);
    -webkit-transform-origin: 100% 0%;
}
.rotated-sidebar h2 {
    display: inline;
    margin: 0em 0em 0 5em;
    float: right;
    padding: .5em;
    color: white;
    background-color: rgb(10, 92, 138);
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 500;
}
.rotated-sidebar h2:last-of-type {
    margin-left: 0;
}
.right-container {
    width: 65%;
    border: 1px gray solid;
    float: right;
    margin: -1.5em 0 0em 0;
}
.right-container h2 {
    color: white;
    background-color: rgb(10, 92, 138);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    padding: .4em 1.4em .3em;
    margin-top: .25em;
}
.right-container .list {
    margin: 0 2em 2em 1em;
}
.left-container>article>section {
    padding-bottom: 1em;
}
aside {
    width: 75%;
    margin: 0 auto;
    top: 0;
    height: 2.5em;
    background-color: rgb(10, 92, 138);
    white-space: nowrap;
    border: 0;
    padding: 0;
    color: white;
}
aside>p {
    /*   font-size: 10pt;
      line-height: 2.25em;*/
    
    font-size: 8pt;
    line-height: 3em;
    margin: 0 4.13em;
    display: inline;
}
aside h3 {
    display: none
}
header p {
    padding: 0
}
body {
    display: block;
    font-size: 12px;
    overflow: hidden;
    height: auto
}
a[href] {
    content: "";
}
a.plain[href]:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: ""
}
.print-only {
        display: none;
    }
@media print {
    html {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-after: 0mm;
        -webkit-padding-before: 0mm;
        -webkit-padding-start: 0mm;
        -webkit-padding-end: 0mm;
        background-color: #fff;
    }
    * {
        /*        color: #000!important;*/
        
        box-shadow: none!important;
        text-shadow: none!important;
        /*        background: transparent!important*/
    }
    .no-print,
    .no-print * {
        display: none !important;
    }
    .print-only {
        display: block;
    }
    span.print-only{
    	display: inline;
    }
        a,
    a:visited {
        color: rgb(10, 92, 138);
    }
    a.print-only {
    	display: inline;
    	color: rgb(22, 78, 156);
    }
    a[href].print-only:before{content:"<"; color: black;}
    a[href].print-only:after{content:">"; color: black;}
    
    .main-container {
        margin: 2.5em auto;
    }
    aside {
        width: 78%;
        max-width: 530px;
        height: 2em;
        -webkit-print-color-adjust: exact;
    }
    aside>p {
        line-height: 2.5em;
        margin: 0 2em;
    }
    header .title {
        margin-bottom: .5em;
    }
    .subtitle {
        display: none;
        height: 1em;
    }
    .main.clearfix {
        margin-bottom: 0em;
        margin-top: 2mm;
    }
    .header-container header {
        border-bottom: 1px solid #AAAAAA;
    }
    .left-container>article>section {
        padding-bottom: 0em;
    }
    .list section {
        padding-bottom: 0em;
        margin-left: 0em;
    }
    .left-container .list section {
        -webkit-transform: translate(8px, -16px);
    }
    .list section h3 {
        font-size: 12pt;
    }
    /*a[href]:after {
        content: "" !important;
    }*/
    
    .rotated-sidebar:nth-child(3) {
        margin-left: 5em;
    }
    .side-label-container {
        /* background-color: rgb(10, 92, 138); */
        
        -webkit-print-color-adjust: exact;
    }
    .list.no-desc p {
        font-size: 1em;
    }
    .right-container h2 {
        margin-bottom: .25em;
        -webkit-print-color-adjust: exact;
        font-size: 13pt;
    }
    .rotated-sidebar {
        -webkit-print-color-adjust: exact;
        height: 12em;
        width: 0;
        padding: 0;
        margin: 0;
        border-left: 2px solid rgb(10, 92, 138);
    }
    .rotated-sidebar h2 {
        font-size: 13pt;
        /* -webkit-transform: translate(-1px, -1px); */
    }
}